{{>header}}
<div class="container">
<div id="aboutContent" style=" padding-top: 100px; height:500px" class="banner">
            <div>
                <h2 class="banner-title">About Us</h2>
                <p class="banner-desc">We provide the following services:</p>
                <p>Selling houses and land</p>
                <p>Renting houses</p>
                <p>Acting as agents</p>
                <p>Managing properties</p>
                <p>Starting new projects</p>
              

            </div>
           
</div>
{{>footer}}