<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Property Management System</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>

  
 


</head>

<body>
  <header id="header">
            <nav>
                <ul class="menu">
                    <li class="logo"><a href="/admin_home">Property Management System</a></li>
                    <p style="color: white; padding: 20px">Welcome admin {{username}}</p>
                    <li><a class="btn btn-success"  href="/admin_home">Home</a></li> 
                    <!--<li><a class="btn btn-success"  href="/admin_bookings">Bookings</a></li> -->
                    <li><a class="btn btn-success"  href="/admin_property">Properties</a></li>
                    <li><a class="btn btn-success"  href="/user_reports">Reports</a></li>
                    <li><a class="btn btn-success"  href="/admin_users">Users</a></li>
                    <li><a class="btn btn-success"  href="/admin_edit_details">Edit My Details</a></li>
                    <li><a class="btn btn-success"  href="/admin_change_password">Change Password</a></li>
                    <li><button class="btn btn-success" data-toggle="modal" ><a href="/logout" >Logout </a></li>
                      
                </ul>
            </nav>
        </header>

  
  <div class="container">