<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MADISON Properties</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <header id="header">
            <nav>
                <ul class="menu">
                    <li class="logo"><a href="/staff_home">MADISON Properties</a></li>
                    <p style="color: white; padding: 20px">Welcome staff {{username}}</p>
                    <li><a class="btn btn-success"  href="/staff_home">Home</a></li> 
                    <li><a class="btn btn-success"  href="/staff_bookings">Bookings</a></li>
                    <li><a class="btn btn-success"  href="/staff_property">Properties</a></li>
                    <li><a class="btn btn-success"  href="/staff_clients">Clients</a></li>
                    <li><a class="btn btn-success"  href="/staff_contact">Contact</a></li>
                    <li><a class="btn btn-success"  href="/staff_edit_details">Edit My Details</a></li>
                    <li><a class="btn btn-success"  href="/staff_change_password">Change Password</a></li>
                    <li><button class="btn btn-success" data-toggle="modal" ><a href="/logout" >Logout </a></li>
                      
                </ul>
            </nav>
        </header>

  
  <div class="container">